Models/Subcellular Localization/mypackage/__pycache__
Models/Subcellular Localization/Figures/*/*.png
Models/Subcellular Localization/archive/
Models/Subcellular Localization/models/

Models/Aquatic Background Segmentation/*.pdf
Models/Aquatic Background Segmentation/data/TEST
Models/Aquatic Background Segmentation/data/train_val